<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-光之收藏家-最终幻想14幻化站 幻化数据分享</title>
    <link rel="stylesheet" th:href="@{/css/reg.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="welcome">
            <div class="pinkbox">
                <div class="signup nodisplay">
                    <h1>register</h1>
                    <form action="" autocomplete="off">
                        <input type="text" name="" id="" class="input" placeholder="UserName">
                        <input type="email" name="" id="" class="input" placeholder="Email">
                        <input type="password" name="" id="" class="input" placeholder="Password">
                        <input type="password" name="" id="" class="input" placeholder="Comfirm Password">
                        <button class="button submit">Create Account</button>
                    </form>
                </div>
                <div class="signin">
                    <h1>Sing In</h1>
                    <form action="" class="more-padding" autocomplete="off">
                        <input type="text" name="" id="" class="input" placeholder="UserName">
                        <input type="password" name="" id="" class="input" placeholder="Password">
                        <div class="checkbox">
                            <input type="checkbox" id="remember"><label for="remember">记住我</label>
                        </div>
                        <button class="button sumbit">Login</button>
                    </form>
                </div>
            </div>
            <div class="leftbox">
                <h2 class="title">光之收藏家</h2>
                <p class="desc">在这里，发现属于你的幻化搭配</p>
                <img src="../img/appQrCode.png" alt="" class="flower">
                <p class="account">Have an account?</p>
                <button class="button2" id="signin">Login</button>
            </div>

            <div class="rightbox">
                <h2 class="title">光之收藏家</h2>
                <p class="desc">满足你的换装梦</p>
                <img src="../img/appQrCode.png" alt="" class="flower">
                <p class="account">Don't have an account?</p>
                <button class="button2" id="signup">Sign Up</button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../script.js"></script>

</html>